body {
    font-family: helvetica,sans-serif;
    background-color:pink;
}

button {
    background-color:deepskyblue;
    width: 100%;
    color:orchid;
    padding: 15px;
    margin: 10px 0px;
    border: white;
    cursor: pointer;
}

form {
    border: 3px solid white;
}

input[type=text], input[type=password]{
    width: 50%;
    margin: 8px o;
    padding: 12px 20px;
}